@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Outfit:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Space+Grotesk:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@tailwind base;

@keyframes spin-slow {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.animate-spin-slow {
    animation: spin-slow 8s linear infinite;
}

@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #7C3AED;
    --dark-blue: #001B33;
    --brand-purple: #7041FF;
    --brand-dark: #001D3D;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

.b-solid {
    border: 2px solid #000000;
}

.hero-pattern {
    background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
    background-size: 32px 32px;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.gradient-blur {
    position: absolute;
    width: 600px;
    height: 600px;
    background: radial-gradient(circle, rgba(112, 65, 255, 0.15) 0%, rgba(0, 29, 61, 0.05) 50%, rgba(255, 255, 255, 0) 100%);
    filter: blur(80px);
    z-index: -1;
}

.grain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.02;
    pointer-events: none;
    z-index: 50;
    background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuCLzhMSyBrllt2gIgRISwe-RHXTFO-01zOza7EBmwTTNmB3U_EnCeMh_UvYR6m1bwzRELo2DwqWvPS7AhLn2Oq_PANeGtRR_3dLcQ38O4dTLiDiu2SB6jgvjh7j9koQgeDx2hZqjfur0xU0MOhdrIoRrX101W4SKddNp7UTAoalJ3uOl9-vIIDc_BBaqYrCfpG4lCbWuvwIXBXHBDt_mlMtWSZhE9jTlh0aODlBg81GNl7P59GuXi3lhpsq4yxxj7Ro2OtOILN2b4qz);
}

.card-border {
    border: 2px solid #000 !important;
    box-shadow: 4px 4px 0 0 #000;
}

.card-border-dark {
    border: 2px solid #fff !important;
    box-shadow: 4px 4px 0 0 #fff;
}